dist: trusty
sudo: required
services: [ docker ]
os: linux
compiler: gcc
cache: ccache

git:
  depth: 10
  submodules: false

env:
  matrix:
  - OS=ubuntu DIST=artful
  - OS=ubuntu DIST=bionic
  - OS=centos DIST=7.4.1708

matrix:
  fast_finish: true
  allow_failures:
  - env: OS=ubuntu DIST=artful
  - env: OS=ubuntu DIST=bionic
  - env: OS=centos DIST=7.4.1708

before_install:
  - git submodule update --init --recursive LTerminal
  - git submodule update --init core
  - cd core
  - git submodule update --init --recursive CMake imports/cmake-precompiled-header imports/glog imports/googletest imports/flatbuffers imports/giflib imports/libjpeg-turbo
  - cd ..
  - echo $TRAVIS_OS_NAME
  - echo $LANG
  - echo $LC_ALL
  - pwd

install: |-
  ccache -s || true
  DOCKER=lucidfusionlabs/build:$OS${DIST:+.$DIST}${ARCH:+.$ARCH}
  docker pull ${DOCKER}
  docker build core/docker/$OS${DIST:+.$DIST}${ARCH:+.$ARCH} --cache-from ${DOCKER} -t ${DOCKER}

script: |-
  uname -a
  mkdir linux || true
  chmod -fR a+rwX $HOME/.ccache
  CMAKE_FLAGS="-DCMAKE_BUILD_TYPE=Release -DCMAKE_TOOLCHAIN_FILE=../core/CMake/LinuxToolchain.${OS}.cmake"
  docker run -it --rm -e OS=${OS} -e DIST=${DIST} \
             -w /LTerminal-linux/linux \
             -v $HOME/.ccache:/root/.ccache \
             -v $TRAVIS_BUILD_DIR:/LTerminal-linux ${DOCKER} \
    bash -c "cmake $CMAKE_FLAGS .. && make package && eval \$PACKAGE_INSTALL *.\$PACKAGE_SUFFIX"

after_success:
  - ccache -s || true
  - echo "success"

