dist: trusty
sudo: required
services: [ docker ]
os: linux
compiler: gcc
cache: ccache

git:
  depth: 10
  submodules: false

env:
  matrix:
  - OS=ubuntu DIST=artful 

matrix:
  fast_finish: true
  allow_failures:
  - env: OS=ubuntu DIST=artful

before_install:
  - git submodule update --init --recursive LTerminal
  - git submodule update --init core
  - cd core
  - git submodule update --init --recursive CMake imports/cmake-precompiled-header imports/glog imports/googletest imports/flatbuffers imports/giflib imports/libjpeg-turbo
  - cd ..
  - echo $TRAVIS_OS_NAME
  - echo $LANG
  - echo $LC_ALL
  - pwd

install: |-
  DOCKER=lucidfusionlabs/build:$OS${DIST:+.$DIST}${ARCH:+.$ARCH}
  ccache -s || true
  docker pull ${DOCKER}
  docker build core/docker/$OS${DIST:+.$DIST}${ARCH:+.$ARCH} --cache-from ${DOCKER} -t ${DOCKER}

script: |-
  mkdir build || true
  chmod -fR a+rwX $HOME/.ccache
  docker run -it --rm -w /LTerminal-linux/build \
                      -v $HOME/.ccache:/root/.ccache \
                      -v $TRAVIS_BUILD_DIR:/LTerminal-linux ${DOCKER} \
    bash -c "cmake -DCMAKE_BUILD_TYPE=Release"\
            "-DCMAKE_TOOLCHAIN_FILE=../core/CMake/LinuxToolchain.cmake"\
            "cmake .. && cd LTerminal && make"

after_success:
  - echo "success"
